database/
finall/
node_modules/
/node_modules/
.node_modules/

*.log
*.txt
*.sql
*.pdf
*.json 


add_test_data.php
add_test_invoices.php
add_test_customers.php
notif_test.php
sound_test.php
settings copy.php
